<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225213658715-3h6s33r1fs4tobh0b56m9n9a98vq1cl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225213658715-3h6s33r1fs4tobh0b56m9n9a98vq1cl4</string>
	<key>API_KEY</key>
	<string>AIzaSyAnHzjuWRNruUoN2jrajmQM61NRWZBsHno</string>
	<key>GCM_SENDER_ID</key>
	<string>225213658715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myDemoOrg.CAMutipleTargetsEnv3</string>
	<key>PROJECT_ID</key>
	<string>caformultipletarget</string>
	<key>STORAGE_BUCKET</key>
	<string>caformultipletarget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225213658715:ios:4cfabaeeefaa3afcdcf17e</string>
	<key>DATABASE_URL</key>
	<string>https://caformultipletarget.firebaseio.com</string>
</dict>
</plist>