<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225213658715-095km8vli5v4unt4rnf9ffv3olqas2c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225213658715-095km8vli5v4unt4rnf9ffv3olqas2c6</string>
	<key>API_KEY</key>
	<string>AIzaSyAnHzjuWRNruUoN2jrajmQM61NRWZBsHno</string>
	<key>GCM_SENDER_ID</key>
	<string>225213658715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myDemoOrg.CAMutipleTargetsEnv1</string>
	<key>PROJECT_ID</key>
	<string>caformultipletarget</string>
	<key>STORAGE_BUCKET</key>
	<string>caformultipletarget.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225213658715:ios:6ddbae167b9776f6dcf17e</string>
	<key>DATABASE_URL</key>
	<string>https://caformultipletarget.firebaseio.com</string>
</dict>
</plist>